spring:
  main:
    allow-bean-definition-overriding: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cache:
    jcache:
      provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
    cache-names: 
      - rate-limit-buckets
      - filter-config-cache
    caffeine:
      spec: maximumSize=100000,expireAfterAccess=3600s

springdoc:
  swagger-ui:
    use-root-path: true

bucket4j:
  enabled: true
  filter-config-caching-enabled: true
  filter-config-cache-name: rate-limit-buckets
  filters:
    - cache-name: rate-limit-buckets
      id: filter1
      filter-method: servlet
      url: "/.*"
      rate-limits:
        - cache-key: "getHeader('X-Forwarded-For')?: getRemoteAddr()"
          bandwidths:
            - capacity: 10
              time: 1
              unit: minutes
      hide-http-response-headers: false

test:
  reset:
    sql:
      template: ALTER TABLE %s ALTER COLUMN id RESTART WITH 1

---
spring:
  config:
    activate:
      on-profile: local
tester:
  title: Local Tester Application
  
logging:
  level:
    org.springframework: INFO
    org.springdoc: DEBUG

---
spring:
  config:
    activate:
      on-profile: render
  jpa:
    show-sql: false
tester:
  title: Render Tester Application
